/* temp */

main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-wrapper {
  padding: 20px;
}

#sidenav-overlay {
  left: 300;
}
