/* temp */

main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer.page-footer {
  margin-top: 0;
}

/*#sidenav-overlay {
  left: 300;
}*/

.action-call {
  text-align: center !important;
}

.primary-red {
  background-color: #ee6e73;
}

.orange-text {
  color: #ffab40 !important;
}

.footer-left+ul {
  float: left;
}

.center-div {
  display: block;
  margin: 0 auto;
}

.side-nav > li > h5 {
  text-align: center;
  color: #ee6e73;
}

@media screen and (min-width: 992px) {
  .brand-logo {
    margin-left: 20px;
  }
}
