/* temp */

main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer.page-footer {
  margin-top: 0;
}

#sidenav-overlay {
  left: 300;
}

.action-call, .action-call > .col > .card-panel > a > h4 {
  text-align: center;
  color: #ee6e73 !important;
}

.primary-red {
  background-color: #ee6e73;
}

.center-div {
  display: block;
  margin: inherit auto;
}

.side-nav > li > h5 {
  text-align: center;
  color: #ee6e73;
}

@media screen and (min-width: 992px) {
  .brand-logo {
    margin-left: 20px;
  }
}
